.fundo {
    background-color: #fffb00;
  }
  
  .caixa {
    background-color: #fffb00;
    display: inline-block;
    flex-direction: column;
    width: 49%;
    vertical-align: top;
  }
  
  .texto-verao {
    font-size: 50px;  
    text-align: right;
    color: #000000;
    padding: 20px;
    margin-right: 40px;
  }
  
  .cadu {
    display: inline-block;
    flex-direction: column;
    width: 50%;
    height: 100%;
    vertical-align: bottom;
  }
  
  #dday {
    width: 100%;
    text-align: center;
    display: block;
  }
  
  .rodape {
    background-color: black;
    height: 80px;
    color: white; 
  }
  
  .texto-rodape {
    color: rgb(219, 179, 0);
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
  }
  
  .texto-link {
    color: rgb(219, 179, 0);
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    padding: 15px;
  }
  
  
  a:hover {
     color: rgb(255, 228, 109);
  }
  
  a:active {
     color: rgb(219, 179, 0);
  }
  
  a { 
    color: currentColor;
  } 